type = "checkout_ui_extension"
name = "checkout-timer"

extension_points = [
  'Checkout::Dynamic::Render'
]

# [[metafields]]
# namespace = "my-namespace"
# key = "my-key"

# [[metafields]]
# namespace = "my-namespace"
# key = "my-key-2"

# Read more on extension settings at https://shopify.dev/api/checkout-extensions/checkout/configuration
 [settings]
   [[settings.fields]]
   key = "timer_before_text"
   type = "single_line_text_field"
   name = "Timer Before Text"
   description = "This Offer Ends In"

   [[settings.fields]]
   key = "timer_after_text"
   type = "single_line_text_field"
   name = "Timer After Text"
   description = "Minutes"

   [[settings.fields]]
   key = "timer"
   type = "single_line_text_field"
   name = "Timer"
   description = "Please Put The Remaining Minutes For Example ( 15 )"

    [[settings.fields]]
  key = "timer_text_color"
  type = "single_line_text_field"
  name = "Timer Text Color"
  description = "Select The Color Of Timer Text"
    [[settings.fields.validations]]
    name = "choices"
     value = '["accent", "critical", "info", "subdued", "success", "warning", "interactive", "monochrome"]'

  [[settings.fields]]
  key = "timer_text_size"
  type = "single_line_text_field"
  name = "Timer Text Size"
  description = "Select The Size Of Timer Text"
    [[settings.fields.validations]]
    name = "choices"
     value = '["base", "extralarge", "extrasmall", "large", "medium", "small"]'

  [[settings.fields]]
  key = "timer_color"
  type = "single_line_text_field"
  name = "Timer Color"
  description = "Select Timer Color"
    [[settings.fields.validations]]
    name = "choices"
     value = '["accent", "critical", "info", "subdued", "success", "warning", "interactive", "monochrome"]'

  [[settings.fields]]
  key = "timer_size"
  type = "single_line_text_field"
  name = "Timer Size"
  description = "Select Timer Size"
    [[settings.fields.validations]]
    name = "choices"
     value = '["base", "extralarge", "extrasmall", "large", "medium", "small"]'
